"*":
  "atom-ctags":
    cmdArgs: "--exclude=node_modules"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  "autocomplete-plus":
    confirmCompletion: "enter"
    includeCompletionsFromAllBuffers: false
    strictMatching: true
  "console-log":
    identifierCase: true
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
      "symbols-tree-view"
      "symbols-view"
      "language-javascript-jsx"
      "atom-shortcuts"
      "git-plus"
      "atom-ctags"
      "terminal-plus"
      "ide-typescript"
      "atom-alignment"
      "tabs"
      "zentabs"
    ]
    telemetryConsent: "limited"
    titleBar: "hidden"
  "custom-title":
    template: "Atom | <% if (projectName) { %><%= projectName %> |<% } %> <%= fileName %>"
  editor:
    fontFamily: "FiraCode-Retina"
    fontSize: 11
    lineHeight: 1.4
    preferredLineLength: 100
    softWrap: true
  "exception-reporting":
    userId: "16861449-83e6-4e20-b73d-a9e233cb48ef"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-blame":
    columnWidth: 299
    ignoreWhiteSpaceDiffs: true
  "keybinding-cheatsheet": {}
  "linter-ui-default":
    panelRepresents: "Entire Project"
  "markdown-preview-enhanced":
    previewTheme: "night.css"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "trailing-spaces": {}
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 1
    neverCloseUnsaved: true
